.block__brand-day
    .brand-day__left
        .wrap-img
            img.brand-day-img(src="assets/images/left_img.png")
        .brand-day__button
            a(href="https://brandday.ru/dbd2019/" target="_blank").brand-day__button--link--left Подробнее
    .brand-day__right
        .wrap-img
            img.brand-day-img(src="assets/images/right_img.png")
        .brand-day__button
            a(href="https://brandday.ru/bd2018/ " target="_blank").brand-day__button--link--right Подробнее