header.header
    .container.container__header
        .block__logo
            a.logo__link(href="http://www.rusbrand.com/" target="_blank")
                img.logo__img(src="assets/images/useBrend.png")
        .block__brand
            a(href="https://adindex.ru/" target="_blank").brand__link
                svg.block__brand--svg
                    use(xlink:href="assets/sprite/sprite.svg#logo")
