.block__menu.block__menu_margin-top
    nav.header__menu
        ul.header__menu--list
            li.header__menu--item
                a(href="#" data-id="about").header__menu--link
                    span.header__menu--link-num 01
                    | О проекте
            li.header__menu--item
                a(href="#" data-id="project").header__menu--link
                    span.header__menu--link-num 02
                    | Партнеры
            li.header__menu--item
                a(href="#" data-id="story").header__menu--link
                    span.header__menu--link-num 03
                    | Как это было
            li.header__menu--item
                a(href="#" data-id="contacts").header__menu--link
                    span.header__menu--link-num 04
                    | Контакты