extends ../template

block variables
    - var title = 'Brand Day'

block content 
    include ../common/header.pug
    section.section.section__first-screen#about
        .container
            include ../common/menu.pug
            include ../common/brand.pug
    section.section.section__project#project
        include ../section/section_project.pug
    section.section.section__story#story
        include ../section/section_story.pug
    section.section.section__contancts#contacts
        include ../section/section_contancts.pug
    footer.footer
        .footer__shrt-text @ Copyright
    #nav-icon2
        -for(let i = 0; i < 6; i++) {
            span
        -}

                