.block__menu_margin-top
    margin-top 100px
    display flex
    justify-content center
    +adapt(992px)
        margin-top 0
.header__menu
    position relative
.header__menu--list
    display flex
    justify-content center
.header__menu--item
    margin-right 140px
    &:last-child
        margin-right 0
    +adapt(1400px)
        margin-right 75px
     +adapt(1200px)
        margin-right 50px
    +adapt(1200px)
        margin-right 40px
    +adapt(992px)
        margin-right 0
        margin-top 20px
        &:first-child
            margin-top 0
.header__menu--link
    font-family 'DINProM'
    font-size 33px
    color #707070
    tran(color)
    &:hover
        color red
    +adapt(1200px)
        font-size 28px
     +adapt(992px)
        font-size 28px
        color #f6f6f6
.header__menu--link-num
    font-size 20px
    margin-right 10px
    position relative
    bottom -5px
.block__menu
    position relative
    +adapt(992px)
        display none
.block__menu--active
    display block
    position fixed
    top 0 
    left 0
    right 0
    bottom 0
    z-index 50
    +adapt(992px)
        display block
        background: #ff920a; /* Old browsers */
        background: -moz-linear-gradient(left, #ff920a 3%, #ffaf4b 82%)
        background: -webkit-linear-gradient(left, #ff920a 3%,#ffaf4b 82%)
        background: linear-gradient(to right, #ff920a 3%,#ffaf4b 82%)
        .header__menu
            position absolute
            top 260px
            left 10%
            transform translateY(-50%)
        .header__menu--list
            display block

