.section__first-screen
    width 100%
    height auto
    position relative
    &:after
        content ''
        display block
        position absolute
        z-index -10
        bottom -220px
        right 10%
        width 753px
        height 753px
        background-image: url('../images/bckg_1.png')
        +adapt(1200px)
            display none

