.section__first-screen
    width 100%
    height auto
    position relative
    .share__social
        text-align center
        margin-top 40px
        .ya-share2__icon
            width 40px
            height 40px
            +adapt(480px)
                width 35px
                height 35px

