.container__story
    position: relative 
    overflow hidden
    &:after
        content ''
        display block
        position absolute
        z-index -10
        top 100px
        right 100px
        width 110px
        height 110px
        background-image: url('../images/bg_pink.png')
        background-repeat no-repeat
        background-size: 100%
        z-index 5
        +adapt(480px)
            display none
    &:before
        content ''
        display block
        position absolute
        z-index -10
        top 100px
        left 150px
        width 90px
        height 390px
        background-image: url('../images/text.png')
        background-repeat no-repeat
        background-size: 100%
        z-index 5
        +adapt(1400px)
            display none
.block__story
    padding 150px 160px
    background-color #FB454B
    &:after
        content ''
        display block
        position absolute
        z-index -10
        bottom 600px
        right 50px
        width 328px
        height 328px
        background-image: url('../images/bg_pink.png')
        background-repeat no-repeat
        background-size: 100%
        z-index 5
        +adapt(480px)
            display none
    &:before
        content ''
        display block
        position absolute
        z-index -10
        bottom 100px
        left -400px
        width 650px
        height 650px
        background-image: url('../images/bg_pink.png')
        background-repeat no-repeat
        background-size: 100%
        z-index 5
    +adapt(1400px)
        padding 100px 100px
    +adapt(992px)
        padding 40px 20px
    +adapt(768px)
        padding 40px gap_mob 

.story__description
    position relative
    z-index 10
    width 770px
    margin 60px auto
    p
        font-family 'DINPro'
        color #ffffff
        font-size 24px
    +adapt(1400px)
        width 100%
        margin 30px auto
    +adapt(992px)
        margin 20px auto
        font-size 20px
        p
            font-size 24px
    +adapt(768px)
        p
            font-size 18px
.slider
    position relative
    z-index 20
    max-width 1200px
    width auto
    margin 0 auto
.wrap_controls
    height 100px
    position relative 
    background-color black 
    padding-left gap
    display flex
    +adapt(768px)
        flex-wrap wrap
        height auto
    +adapt(768px)
        padding-left gap_mob
.controls-left,
.controls-right
    position relative
    width 50%
    height 100%
    +adapt(768px)
        width 100%
.controls-left
    +adapt(768px)
        order 2
        margin-top 30px
.controls-right
    display flex
    padding 30px 0 0 80px
    position relative
    +adapt(1200px)
        padding 30px 0 0 40px
    +adapt(768px)
        order 1
        padding 10px gap_mob 0 0
        justify-content flex-end
    &:after
        content ''
        display block
        position absolute
        top 30px
        left 40px
        width 1px
        height 30px
        background-color #454545
        +adapt(1200px)
            left 20px
        +adapt(768px)
            display none
.controls-right--item
    margin-left 40px
    &:first-child
        margin-left 0
    +adapt(1200px)
        margin-left 20px
.right--item-archive
    font-family 'DINPro'
    color pink
    font-size 16px
    +adapt(1200px)
        font-size 14px
.right--item-link
    font-family 'DINProB'
    color #ffffff
    font-size 24px
    +adapt(1200px)
        font-size 18px
.slider__list
    margin-top 30px
.wrap__slider-content
    display flex
    justify-content center
    width 100%
    height 100
.slider__link
    display flex
    justify-content center
    position relative
    width 100%
    height 100%
.slider-content__icon
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    fill: #E41E0A
    +adapt(480px)
        width 80px
        height 50px
.wrap__slider-svg
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    background-color white
.slider__image
    display block
    max-width 100%
.one-slide
    .slider__image
        +adapt(650px)
            height 400px
        +adapt(550px)
            height 300px
        +adapt(420px)
            height 250px
        +adapt(375px)
            height 230px
    .wrap__slider-svg
        width 60px
        height 40px
        +adapt(550px)
            width 40px
            height 30px
    .slider-content__icon
        width 100px
        height 80px
        +adapt(550px)
            width 70px
            height 50px
.two-slides
    width 100%
   
    +adapt(768px)
        .wrap__slider-content
            display block
       
    .wrap__slider-svg
        width 40px
        height 35px
        +adapt(1200px)
            width 40px
            height 30px
        +adapt(768px)
            width 40px
            height 30px
        
    .slider__link
        width 49%
        margin-right 2%
        &:last-child 
            margin-right 0
        +adapt(768px)
            width 100%
            margin-right 0
            margin-top 10px
            &:first-child 
                margin-top 0
    .slider-content__icon
        width 100px
        height 80px
        +adapt(1440px)
            width 80px
            height 60px
        +adapt(1200px)
            width 70px
            height 50px
       
    .slider__image
        height 450px
        +adapt(1440px)
            height 410px
        +adapt(1250px)
            height 350px
        +adapt(1100px)
            height 320px
        +adapt(1024)
            height 280px
        +adapt(900px)
            height 270px
        +adapt(768px)
            height 350px
        +adapt(550px)
            height 370px    
        +adapt(480px)
            height 340px
        +adapt(440px)
            height 300px
        +adapt(400px)
            height 280px
        +adapt(375px)
            height 250px
        +adapt(320px)
            height 230px