.container__project
    position: relative 
    overflow hidden
    &:after
        content ''
        display block
        position absolute
        z-index -10
        top 30px
        left 180px
        width 168px
        height 390px
        background-image: url('../images/about.png')
        background-repeat no-repeat
        background-size: 100%
        +adapt(1440px)
            display none
    &:before
        content ''
        display block
        position absolute
        z-index -10
        bottom 20px
        left 180px
        width 90px
        height 300px
        background-image: url('../images/partners.png')
        background-repeat no-repeat
        background-size: 100%
        +adapt(1440px)
            display none       
.pic__cont
    position absolute
    z-index -10
    top 100px
    right -400px
    width 753px
    height 753px
    background-image: url('../images/bckg_1.png')
    +adapt(1440px)
        display none
.block__project
    padding 60px 160px
    &:before
        content ''
        display block
        position absolute
        z-index -10
        bottom 300px
        left -200px
        width 483px
        height 483px
        background-image: url('../images/bckg_1.png')
        background-repeat no-repeat
        background-size: 100%
        +adapt(768px)
            display none
    +adapt(1400px)
        padding 60px 100px
    +adapt(992px)
        padding 40px 20px
    +adapt(768px)
        padding 40px gap_mob 
.block__title
    position relative
    z-index 10
.h2__title
    position relative
    z-index 10
    font-family 'GothamProBlack'
    font-size 72px
    text-transform uppercase
    +adapt(1400px)
        font-size 52px
    +adapt(992px)
        font-size 42px
    +adapt(480px)
        font-size 32px
.project__description
    width 770px
    margin 60px auto
    p
        font-family 'DINPro'
        color black
        font-size 24px
    +adapt(1400px)
        width 100%
        margin 50px auto
    +adapt(992px)
        margin 30px auto
        font-size 20px
        p
            font-size 24px
    +adapt(768px)
        p
            font-size 18px
.project__images
    display flex
    justify-content center
    align-items center
    margin 50px
    flex-wrap: wrap
    +adapt(992px)
        margin 30px
.project--margin-top
    margin-top 100px
    +adapt(992px)
        margin-top  40px
.wrap__images
    width 400px
    height 200px
    // border: 0px solid #f6f6f6;
.project-img
    display block
    min-width 100%
    height 100%
    // border: 1px solid #f6f6f6;