.section__contancts
    padding 100px 160px gap
    background-color black
    position relative
    overflow hidden
    &:before
        content ''
        display block
        position absolute
        top 40px
        left 180px
        width 90px
        height 300px
        background-image: url('../images/contacts.png')
        background-repeat no-repeat
        background-size: 100%
        z-index 0
        opacity 0.5
        +adapt(1440px)
            display none
    &:after
        content ''
        display block
        position absolute
        top -400px
        right 120px
        width 650px
        height 650px
        background-image: url('../images/cont-circk.png')
        background-repeat no-repeat
        background-size: 100%
        z-index 0
        opacity 0.5
        +adapt(768px)
            display none
    +adapt(1400px)
        padding 100px 100px 40px
    +adapt(992px)
        padding 40px 20px gap_mob
    +adapt(768px)
        padding 40px gap_mob gap_mob
.block__contacts--style-color
    color pink
.block__contacts
    display flex
    justify-content center
    margin-top 30px
    position relative
    z-index: 10
    +adapt(1200px)
        flex-direction column
        align-items: center
    &:after
        content ''
        display block
        position absolute
        top 55%
        left -280px
        width 340px
        height 340px
        background-image: url('../images/cont-circk.png')
        background-repeat no-repeat
        background-size: 100%
        z-index -1
        opacity 0.5
.contacts__left
    width 35%
    +adapt(1440px)
        // width 40%
    +adapt(1200px)
        width 100%
        order 2
        margin-top 30px
.contacts__list
    border-right 1px solid #707070
    padding 0 50px 0 0
    +adapt(1440px)
        border-right none
    +adapt(1200px)
        padding 0
.contacts__item
    margin-top 30px
    &:first-child
        margin-top 0
    +adapt(1200px)
        margin-top 10px
.contacts-key
    font-family 'DINPro'
    color #fb454b
    font-size 24px
    +adapt(768px)
        font-size 18px
.contacts-value
    font-family 'DINPro'
    color #fff
    font-size 24px
    +adapt(768px)
        font-size 18px
.contacts__right
    width 65%
    display flex
    justify-content center
    align-items center
    +adapt(1200px)
        width 100%
        justify-content flex-start
        order 1
    +adapt(768px)
        display block

.contacts__descr
    margin-left 40px
    +adapt(768px)
        margin-left 0
.contacts__name
    +adapt(768px)
        margin-top 20px
    span 
        display block
        text-transform uppercase
        font-family 'DINProB'
        font-size 27px
        color #fb454b
        +adapt(768px)
            font-size 23px
            display inline
            &:last-child
                margin-left 10px
.contacts__shrt-text
    font-family 'DINPro'
    color #fff
    font-size 15px
    width 285px
    +adapt(768px)
        width 100%
.contacts__map
    position relative
    z-index 10
    margin-top 90px