.section__contancts
    padding 150px 160px 80px
    background-color black
    position relative
    overflow hidden
    &:before
        content ''
        display block
        position absolute
        top 70px
        left 150px
        width 90px
        height 300px
        background-image: url('../images/contacts.png')
        background-repeat no-repeat
        background-size: 100%
        z-index 10
        opacity 0.5
        +adapt(1020px)
            display none
    &:after
        content ''
        display block
        position absolute
        top -400px
        right 120px
        width 650px
        height 650px
        background-image: url('../images/cont-circk.png')
        background-repeat no-repeat
        background-size: 100%
        z-index 5
        opacity 0.5
        +adapt(768px)
            display none
    +adapt(1400px)
        padding 100px 100px 80px
    +adapt(992px)
        padding 40px 20px 40px
    +adapt(768px)
        padding 40px gap_mob 40px
.block__contacts--style-color
    color pink
.block__contacts
    display flex
    justify-content center
    margin-top 280px
    +adapt(1400px)
        margin-top 200px
    +adapt(1200px)
        margin-top 120px
    +adapt(992px)
        margin-top 80px
    +adapt(768px)
        margin-top 50px
        flex-direction column
        align-items: center
    &:after
        content ''
        display block
        position absolute
        top 55%
        left -280px
        width 340px
        height 340px
        background-image: url('../images/cont-circk.png')
        background-repeat no-repeat
        background-size: 100%
        z-index 5
        opacity 0.5
.contacts__left
    width 40%
    border-right 1px solid #707070
    padding 80px 0
    +adapt(1440px)
        width 50%
    +adapt(992px)
        border-right none
    +adapt(768px)
        padding 0
        width 80%
        order 2
        margin-top 30px
.contacts__list
    border-left 1px solid #707070
    padding 0 50px 0
    +adapt(1200px)
        padding 0 10px 0 30px
    +adapt(992px)
        border-left none
    +adapt(768px)
        padding 0

.contacts__item
    margin-top 80px
    &:first-child
        margin-top 0
    +adapt(768px)
        margin-top 20px
.contacts-key
    font-family 'DINPro'
    color #E41E0A
    font-size 24px
    +adapt(768px)
        font-size 18px
.contacts-value
    font-family 'DINPro'
    color #fff
    font-size 24px
    +adapt(768px)
        font-size 18px
.contacts__right
    width 60%
    padding 80px 300px
    +adapt(1440px)
        width 50%
        padding 80px 150px
    +adapt(1024px)
        padding 80px 50px
    +adapt(768px)
        padding 0 
        width 80%
        order 1
.contacts__pic
    +adapt(480px)
        display flex
        justify-content center
        align-items: center
.contacts__name
    +adapt(768px)
        margin-top 20px
    span 
        display block
        text-transform uppercase
        font-family 'DINProB'
        font-size 27px
        color #E41E0A
        +adapt(768px)
            font-size 23px
            display inline
            &:last-child
                margin-left 10px
.contacts__shrt-text
    font-family 'DINPro'
    color #fff
    font-size 15px
    width 285px
    +adapt(768px)
        width 100%
.contacts__map
    position relative
    z-index 10
    margin-top 90px