.container__project
    .pic__cont
    .block__project
        .block__title.bounceInLeft.animatable
            h2.h2__title#about О проекте
        .project__description
            include ../data/project_text.pug
        .block__title.project--margin-top.bounceInLeft.animatable
            h2.h2__title#partners Партнеры
        .project__images.animatable.moveUp
            .wrap__images
                img(src="assets/images/mediascope.png").project-img