.block__title
        h2.h2__title.block__contacts--style-color Контакты
.block__contacts
    .contacts__left
        ul.contacts__list
            li.contacts__item
                .contacts-key Телефон:
                .contacts-value +7(495)737-08-45
            li.contacts__item
                .contacts-key E-mail:
                .contacts-value Info@Rusbrand.com
            li.contacts__item
                .contacts-key Адрес:
                .contacts-value 109028 Москва, ул.Солянка15\18 стр.4, офис 201-202
    .contacts__right
        .contacts__pic
            img(src="assets/images/ava.png").contacts__img
        .contacts__descr
            .contacts__name
                span Елена
                span Охлопкова
            .contacts__shrt-text Директор по взаимодествию в сфере рекламы, маркетинга и СМИ
.contacts__map
    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4a88fc6702551935dba044fdd3a408de5677048a9adb41c6a183ab5161b29f44&amp;width=100%&amp;height=270&amp;lang=ru_RU&amp;scroll=true")