.container__project
    .block__project
        .block__title
            h2.h2__title О проекте
        .project__description
            include ../data/project_text.pug
        .block__title.project--margin-top
            h2.h2__title Партнеры
        .project__images
            .wrap__images.item1
                img(src="assets/images/omd.png").project-img
            .wrap__images.item2
                img(src="assets/images/interfax.png").project-img
            .wrap__images.item3
                img(src="assets/images/prime.png").project-img